.button__close {
  width: 41px;
  height: 41px;
  background-color: #000;
  border: none;
  background-image: url(../../../images/close-x.svg);
  background-position: center;
  grid-column: 2;
  grid-row: 1;
}

@media screen and (min-width: 0) and (max-width: 550px) {
  .button__close {
    width: 25px;
    height: 25px;
  }
}