@import url('./__logo/header__logo.css');

.header {
  max-width: 882px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-bottom: 41px;
  margin: 0 auto;
}

@media screen and (min-width: 608px) and (max-width: 898px) {
  .header {
    max-width: 585px;
  }
}

@media screen and (min-width: 0) and (max-width: 607px) {
  .header {
    max-width: 282px;
    padding-bottom: 32px;
  }
}

@media screen and (width: 320px) {
  .header {
    max-width: 320px;
    margin: 0;
  }
}