.button__like {
  display: flex;
  justify-self: flex-end;
  margin: 30px 21px 0 0;
  width: 20.76px;
  height: 18.13px;
  border: none;
  padding: 0;
  background-color: #fff;
  background-image: url(../../../images/heart.svg);
}

.button__like:hover {
  background-image: url(../../../images/heart_hover.svg);
}

.button__like_activated {
  background-image: url(../../../images/heart_hover.svg);
}

@media screen and (min-width: 0) and (max-width: 607px) {
  .button__like {
    margin-top: 25px;
  }
}