.gallery__image {
  width: 282px;
  height: 282px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.gallery__image:hover {
  cursor: pointer;
}