.root {
  background-color: #000;
  max-width: 1280px;
  margin: 45px auto 60px auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

@media screen and (min-width: 0) and (max-width: 425px) {
  .root {
    min-width: 300;
    margin: 28px auto 36px auto;
  }