.profile__image {
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
  border-radius: 60px;
  margin: 0 30px 0 0;
}

@media screen and (min-width: 0) and (max-width: 607px) {
  .profile__image {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    margin-right: 0;
  }
}