.button_edit {
  width: 24px;
  height: 24px;
  background-color: black;
  margin: 37px 0 0 0;
  border: 1px solid #FFFFFF;
}

.button_edit:hover {
  opacity: .6;
}

@media screen and (min-width: 608px) and (max-width: 898px) {
  .button_edit {
    margin-right: 15px;
  }
}

@media screen and (min-width: 0) and (max-width: 607px) {
  .button_edit {
    margin: 30px 15px 0 0;
    width: 18px;
    height: 18px;
  }
}