@import url(./_edit/button_edit.css);
@import url(./_edit/button_edit-image.css);
@import url(./_add/button_add.css);
@import url(./_add/button_add-image.css);
@import url(./_like/button_like.css);

.button {
  padding: 0;
  box-sizing: border-box;
}

.button:hover {
  opacity: .6;
}